PROJECT = 'necs'

process  {
  executor = 'sge'
  scratch  = true
  errorStrategy = 'finish'

// shared in PreQC and Report ##################################################
  
  withName: qc_filters {
  clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 1"
  }
  
  withName: move_boxplot {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }

// #### MatrixeQTL #############################################################

  withName: M_vcf_to_gds {
  clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 1"
  }
  withName: M_write_gds_list {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }  
  withName: M_merge_gds {
  clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 1"
  }
  withName: M_PCA {
  clusterOptions = "-P ${PROJECT} -l h_rt=12:00:00 -pe omp 4"
  }

  withName: M_get_shared_sampleid {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  withName: M_split_pheno {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  withName: M_prepare_cvrt {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  withName: M_SNP_info {
  clusterOptions = "-P ${PROJECT} -l h_rt=4:00:00 -pe omp 2"
  }  
  withName: M_QTL_analysis {
  clusterOptions = "-P ${PROJECT} -l h_rt=12:00:00 -pe omp 8"
  }
  withName: M_merge_info_QTL {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 2"
  }
  withName: M_QTL_count_wrap {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  
  withName: M_QTL_results_wrap {
  clusterOptions = "-P ${PROJECT} -l h_rt=12:00:00 -pe omp 4"
  }

// #### GENESIS ################################################################

  withName: G_vcf_to_gds {
  clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 1"
  }
  withName: G_write_gds_list {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }  
  withName: G_merge_gds {
  clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 1"
  }
  withName: G_PCA_GRM {
  clusterOptions = "-P ${PROJECT} -l h_rt=12:00:00 -pe omp 4"
  }

  withName: G_get_shared_sampleid {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  withName: G_split_pheno {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  withName: G_prepare_cvrt {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  withName: G_SNP_info {
  clusterOptions = "-P ${PROJECT} -l h_rt=4:00:00 -pe omp 2"
  }  
  withName: G_QTL_analysis {
  clusterOptions = "-P ${PROJECT} -l h_rt=4:00:00 -pe omp 4"
  }
  withName: G_merge_info_QTL {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 2"
  }
  withName: G_QTL_count_wrap {
  clusterOptions = "-P ${PROJECT} -l h_rt=1:00:00 -pe omp 1"
  }
  
  withName: G_QTL_results_wrap {
  clusterOptions = "-P ${PROJECT} -l h_rt=4:00:00 -pe omp 4"
  }
}
